body{
    background: url(background.jpg) center/cover no-repeat fixed;
}
#calculator{
    max-width: 500px;
    padding: 50px;
    margin: 10px auto;
    background-color: #C0C0C0;
    border-radius: 50px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}
#calculator button{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    font-size: 4em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 0;
    outline-offset: 4px;
}
#calculator button .front{
    display: block;
    border-radius: 50px;
    transform: translateY(-6px);
}
#calculator button:active .front{
    transform: translateY(-2px);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
}
#calculator .buttonContainer{
    padding: 5px;
    box-sizing: border-box;
}
#inputText{
    width: 100%;
    height: 100px;
    border: 0;
    margin: 0;
    padding: 5px 0;
    font-family: 'Workbench', sans-serif;
    font-size: 3em;
    text-align: right;
    background-color: #8BAC0F;
    color: #0F380F;
    box-shadow: inset 0 0 10px rgba(15, 56, 15, 0.5);
    outline: 1px solid #8BAC0F;
}
.upperPortion{
    padding-bottom: 25px;
}
.bottomPortion{
    display: flex;
    height: 500px;
}
.numberArea{
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}
.numberArea .buttonContainer{
    flex: 1 0 33%;
    height: 25%;
}
.numberArea button{
    background-color: #6e6a6b;
}
.numberArea button .front{
    padding: 18px 0;
    background: #7c7a7b;
}
.numberArea #clear{
    color: #fff;
    background-color: #1c1a1b;
}
.numberArea #clear .front{
    background-color: #2c2c2e;
}
.calcArea{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.calcArea .buttonContainer{
    flex: 1 0 100%;
    height: 20%;
}
.calcArea button{
    color: #fff;
    background-color: #67003c;
}
.calcArea button .front{
    background-color: #862558;
    padding: 5px 0;
}